.scroll-pane .viewport {
	       -fx-background-color: transparent;
	}

        -glyph-icon{
            -fx-fill: #ffffff;
        }

.custom {
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-fill: #7E685A;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
    -fx-background-radius: 150;
		
			}
.text
{
	-fx-background-color: #e6e6ff;
	 -fx-background-radius: 150;
}


.table
{
	  -fx-background-color:#80bfff;
	  
}


.welcome-text {
	
   -fx-font-size: 12px;
   -fx-font-family: "Tahoma";
  -fx-font-weight: bold;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
}
.labelstyle
{
	 
	 -fx-font-size: 12px;
	  -fx-font-family: "Tahoma";
	   -fx-font-weight: bold;
}

.custom-align { 
  -fx-alignment: center; 
} 

#CustomerTable .table-cell {
   -fx-alignment: CENTER-RIGHT;
     /* The rest is from caspian.css */

 }

    .button:hover
    {
        -fx-background-color:#ffffff;
         -fx-font-weight: bold;
        -fx-text-fill:#000000;
        -fx-text-align:center;
            
    }
    textDec
    {
        -fx-background-color:#80b3ff;
        -fx-text-fill:#ffffff;
        -fx-text-align:center;
    }
.custom1
{
           -fx-text-align:center;
            -fx-font-size: 13px;
	   -fx-font-family:"Tahoma";
	   
    -fx-background-color: #ffffff;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
  
}
.root{
  -icons-color: rgb(61,114,144);
}

.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}

.icons:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}
